.navItem {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.right-float {
  float: right;
}

.mutebtn {
  height : 30px;

}

.waveScore {
  display: none;
}

.unmuted {
  content: url(../images/icons/1024px-Speaker_Icon.svg.png)

}

.muted {
  content:url(../images/icons/Media-Controls-Mute-icon.png);
}
