.body-div {
  background: url(../images/backgrounds/ice.png) no-repeat center;

  background-size: cover;;
}
.outline {
  outline-color: #C5DECD;
}

.dot {
  background: url(../images/penguin.png) no-repeat center;
  background-size: cover;
  border: none;
}

.a {
  background: url(../images/pingu.png) no-repeat center;
  background-size: cover;
  border: none;
}

.button {
  background-color: #A1E8CC;
  color: black;
}
.navItem {
  background-color: #A1E8CC;
  color: black;
}

.modal-header {
    background-color: #495159;
    color: white;
}

.modal-footer {

    background-color: #495159;
    color: white;
}
.slider {

    background: #d3d3d3;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    background: #A1E8CC;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #A1E8CC;
    cursor: pointer;
}
