.body-div {

  background: url(../images/backgrounds/zombieBG2.png) no-repeat;
  background-position: center ;
  background-size: cover;;
}

.body-div {
  outline-color: black;
}

.dot {
  background: url(../images/zombie.png) no-repeat;
  background-size: cover;
  border: none;
}
.dead {
  background: url(../images/bloodSplatter.png) no-repeat center;
  background-size: cover;
  border: none;
}

.a {
  background: url(../images/SurvivorSprite.png) no-repeat center;
  background-size:cover;
  border: none;
}

.button {
  background-color: #362023;
  color: white;
}
.navItem {
  background-color: #362023;
  color: white;
}

.modal-header {
    background-color: #838E83;
    color: white;
}

.modal-footer {

    background-color: #838E83;
    color: white;
}
.slider {
    background: #aaa;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    background: #362023;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #362023;
    cursor: pointer;
}
